    <div class="nameWelcome">
        <h2>Welcome {{name}}!<br></h2>
        <h2>Lets make a shopping list.</h2>
    </div>
    <div id="list-container">
        <div id="add-item-form" class="item-list">
            <form class="form-inline">
                <label for="itemName"></label>
                <input type="text" id="itemName" placeholder="Item">
                <button type="button" id="add-item-button" class="add-item-btn" onclick="addItem('{{userId}}')">Add Item</button>
            </form>
        </div>
        <div class="item-list">
            {{#each lists}}
            <h2>{{name}}'s list do far...</h2>
                <ul class="groceryList">
                    {{#each groceryList}}
                    <li class="groceryItem">
                        <strong>{{itemName}}</strong>
                        <span>
                            <button type="button" class="edit-btn">Edit</button>
                        </span>
                    </li>
                    {{/each}}
                </ul>    
            {{/each}}
        </div>
                    
    </div>