<div class="nameWelcome">
    
        <h2>Welcome {{name}}!<br></h2>
        <h2>Lets make a shopping list.</h2>
    
</div>
                <div id="list-container">
                    <div id="item-list" class="item-list">
                        <form class="form-inline">
                            <label for="item-name"></label>
                            <input type="text" id="item-name" placeholder="Item">
                            <button id="add-item-button" class="add-item-btn" onclick="addItem('{{_id}}')">Add Item</button>
                        </form>
                    </div>
                    <script id="list-template" type="text/x-handlebars-template">
                        {{#each lists}}
                        <h2>{{name}}'s list do far...</h2>
                            <ul class="groceryList">
                                {{#each groceryList}}
                                <li class="groceryItem">
                                    <strong>{{itemName}}</strong>
                                    <span>
                                        <button type="button" class="edit-btn">Edit</button>
                                    </span>
                                </li>
                                {{/each}}
                            </ul>    
                        {{/each}}
                    </script>
                </div>