/*          Main Styles
========================================================== */

body {
    background-color: whitesmoke;
    min-height: 100vh;
}
header {
    background-color: rgba(11, 128, 2, 0.5);
    margin: 0 0 20% 0;
    padding: 35px 0;
}

h1, h2, h3, h5, p {
    font-family: 'Righteous', cursive;
    color: #181616;
    margin: 0;
}
footer {
    background-color: rgba(11, 128, 2, 0.5);
    height: 50px;
    padding-top: 15px;
    text-align: center;
}
/*          Header section
========================================================== */
.title {
    font-size: 2rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.title h2 {
    font-size: 50%;
}
.hide-content {
    display: none;
}

/*          Body section
========================================================== */

.footer-lock {
    min-height: calc( 100vh - 50px );
}
/*          Form Elements
========================================================== */

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    color: black;
    display: block;
    font-size: 1.2rem;
    letter-spacing: -1px;
    margin: 0 auto;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
}
button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 27px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px auto;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all 200ms;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

/*          Home view
========================================================== */
.blue-txt {
    color: blue;
    font-size: 1.7rem;
}
.login-Btn {
    font-size: .6rem;
    padding: 2%;
    position: absolute;
    top: 0; left: 80%;
}
.intro {
    margin: 0 5%;
    text-align: center;
}
.register-route-btn {
    margin-top: 20px;
}
.btn-style {
    color: black;
    border-color: black;
}

/*          Register view
========================================================== */

.intro-container {
    position: relative;
}

.nameInput {
    margin: 0 auto;
    width: 100%;
    text-align: center;
        
}

/*          Profile view
========================================================== */
.nameWelcome {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#list-container {
    margin: 10% 5%;
    
}
.itemName {
    display: inline-block;
    margin: 30px auto;
}
.add-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(11, 128, 2, 0.5);
    margin: 0 auto;
    width: 100%;
}
.add-item-btn {
    width: 40%;
    margin-bottom: 30px;
    padding: 10px 0;
}
.item-edit-form {
    display: none;
}
.show-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}
.item-name-edit {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
.item-list {
    margin: 10% 5%;
}
.groceryList {
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    text-align: left;
}
.item-container {
    border-bottom: 1px solid black;
    line-height: 2;
}
.groceryItem {
    background-color: transparent;
    color: black;
    width: 100%;
}
.list-group-item:hover {
    background-color: rgba(48, 148, 151, 0.4);
}
.edit-column {
    text-align: right;
    transform: translateX(200px);
    transition: all .5s ease-in-out;
}
.inactive {
    background-color: blue;
}
.active{
    display: inline-block;
    transform: translateX(0);
}
.add-item-btn,
.edit-btn {
    font-size: .6rem;
    padding: 5px;
}
.master-edit-btn {
    text-align: right;
    margin-bottom: 10px;
}

.pencil-icon {
    margin: 0 10px;
    width: 20px;
    padding: 2px;
}
.delete-btn {
    color: red;
    font-weight: bolder;
    transition: all 100ms ease;
}

.item-list h2 {
    text-align: center;
}

/*          Media Queries
========================================================== */

@media screen and ( min-width: 768px ) {

    header {
        padding: 5% 0;
        margin-bottom: 5%;
    }
    
    h1, h2, h5, p {
        color: white;
    }
    .body-backdrop {
        background: url('../img/cart.jpg') no-repeat center center fixed;
        min-height: 100vh;
        position: relative;
        z-index: 1;
    }
    #overlay {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0; left: 0; bottom: 0;
        width: 100%;
        z-index: 2;
    }

    .intro {
        background-color: rgba(155, 149, 149, 0.5);
    }
    .btn-style {
        color: white;
        border-color: white;
    }
    button {
        color: white;
        border-color: white;
    }
    input {
        border-color: white;
        color: white;
    }
    .add-item-form {
        background-color: rgba(11, 128, 2, 0.8);
    }
}